.controller.xbox {
    background: url(https://i.imgur.com/YpUpulD.png);
    height: 579px;
    width: 754px;
}




.xbox .triggers {
    width: 486px;
    height: 579px;
    position: absolute;
	left: 133px;
	top: 2px;
}

.xbox .trigger {
    width: 67px;
    height: 73px;
    background: url(https://i.imgur.com/8ZajLkx.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}




.xbox .bumpers {
    width: 525px;
    height: 65px;
    position: absolute;
	top: 74px;
	left: 114px;
}

.xbox .bumper {
    width: 153px;
    height: 65px;
    background: url(https://i.imgur.com/jBNRPIb.png);
    opacity: 0;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .quadrant {
    background: none;
}

.xbox .back, .xbox .start {
    background: url(https://i.imgur.com/UPBpOsl.png);
    width: 34px;
    height: 33px;
    opacity: 0;
    position: absolute;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}


.xbox .start {
    float: right;
	top: -120px;
	left: 201px;
}

.xbox .back {
    float: left;
	top: -120px;
	left: -96px;
}

.xbox .button{
    position: absolute;
    width:65px;
    height:65px;
    background: url(https://i.imgur.com/hz5pkTp.png);
}
.xbox .button.pressed{
    background-position-y: -65px;
    margin-top: 5px;
}
.xbox .a{
    background-position: 0px 0;
    top: 178px;
    left: -18px;
}
.xbox .b{
    background-position: -65px 0;
    top: 125px;
    left: 51px;
}
.xbox .x{
    background-position: -130px 0;
    top: 114px;
    left: -71px;
}
.xbox .y{
    background-position: -195px 0;
    top: 62px;
    left: -1px;
}


.xbox .sticks{
    position: absolute;
    height: 200px;
    width: 200px;
}
.xbox .stick{
    position: absolute;
    width: 65px;
    height: 64px;
    background: url(https://i.imgur.com/9nQwAQe.png);
}
.xbox .stick.pressed.left{
    background-position-y: -65px;
    top: 11px;
    left: 430px;
}
.xbox .stick.pressed.right{
    background-position-y: -65px;
    background-position-x: -65px;
    top: 75px;
    left: 482px;
}
.xbox .stick.left{
    top: 0;
    left: 0;
}
.xbox .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}




.xbox .dpad{
    position: absolute;
    width: 140px;
    height: 132px;
    top: 192px;
    left: 74px;
}
.xbox .face{
    position: absolute;
}

.xbox .face.up, .xbox .face.down{
    width: 98px;
    height: 70px;
}
.xbox .face.left, .xbox .face.right{
    width: 70px;
    height: 99px;
}

.xbox .face.up{
    background: url(https://i.imgur.com/6bqglrZ.png);
    top: 19px;
    left: 46px;
}

.xbox .face.down{
    background: url(https://i.imgur.com/45qVb4D.png);
    top: 85px;
    left: 46px;
}
.xbox .face.left{
    background: url(https://i.imgur.com/kc0UxLl.png);
    left: 27px;
}
.xbox .face.right{
    background: url(https://i.imgur.com/y0cFK0M.png);
    left: 93px;
}
.xbox .face.pressed{
opacity 1;
}





https://imgur.com/a/K88rb1b
https://gist.github.com/mrmcpowned/31eddbc3f8344ee69799